#gameField {
    padding-top: 5rem;
    width: 80%;
}


.cell {
    width: 6rem;
    height: 4rem;
    border: 1px solid black;
    margin-bottom: -1rem;
    text-align: center;
    color:blue;
    padding-top: 50%;
}

.cellsWrapper {
    display: flex;
    justify-content: center;
}


.cross {
    font-size: 4rem;
}