.header {
    text-align: center;
    font-size: 2rem;
    color: rgb(49, 9, 26)
}

.startWrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.resetGame {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 20px;
    outline: none;
    background-color: rgb(24, 87, 223);
}

#playersWrapper {
    display: flex;
    justify-content: space-around;
}

.playerOne, .playerTwo {
    padding-top: 2rem;
}


#playerOne {
    padding: 1rem 3rem;
    border-radius: 16px;
    outline: none;
    font-size: 1rem;
}

#playerTwo {
    @extend #playerOne;
}

.save {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 20px;
    outline: none;
}

#winner {
    text-align: center;
    font-size: 3rem;
    color: rgb(83, 10, 252);
    padding-top: 2rem;
}

.chooseSymbol {
    padding-left: 20%;
    font-size: 1rem;
    display: none;
}

.x-button {
    padding: 0.5rem 1rem;
    background-color: blue;
    border-radius: 20px;
}

.o-button {
    padding: 0.5rem 1rem;
    background-color:red;
    border-radius: 20px;
}

.invis-off {
    display: block;
}